/* Structure */

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #edf2f4;
    color: #2b2d42;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    padding: 64px 0 0 0;
    flex: 1;

}

header .container{

}

.content{
    flex: 2;
    margin: 200px auto;
}

nav{
    margin: 16px 0;
}

nav a{
    padding: 0 16px 0 0;
}

main{
    margin: 32px auto;
}

.container{
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

article{
    margin: 48px auto;
}

section{
    margin: 16px 16px 0 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.item{
    flex: 1;
}

header img{
    width: 72px;
    height: 72px;
    margin: 16px auto;
    border-radius: 50%;
}

ol, ul{
    list-style-type: none;
    list-style-position: inherit;
    padding: 0;
}

li{
    margin: 8px 0;
}

li span{
    color: #8d99ae;
}

/* Typography */

h1, h2, h3 {
    font-weight: 700;
    margin: 8px 0;
}

h3{
    font-weight: 500;
}

h5{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

p, h3, h5 {
    color: #8d99ae;
    line-height: 1.4;
}


/* Links */

a:link{
    color: #ef233c;
    text-decoration: none;
}

a:visited{
    color: #d90429;
}

a:hover{
    color: #ec5d6e;
    text-decoration: underline;
}

a:active{
    color: #b60e2a;
    text-decoration: underline;
}

/* Media Queries */
@media all and (min-width: 768px){
    body{
        flex-direction: row;
    }
    header{
        height: 100vh;
    }
    header .container{
        position: fixed;
        margin: 128px 0;
    }
    section{
        flex-direction: row;
    }
    .item{
        margin: 16px 16px 0 0;
    }
}

/* MUST INCLUDE
    ✅ flexbox
    ✅ media queries
*/