/* Structure */

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #edf2f4;
    color: #2b2d42;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header{
    flex: 1;
    height: auto;
}

.content{
    flex: 2;
    margin: 24px auto;
}

nav{
    margin: 24px 0;
    display: inline;
}

nav a{
    padding: 16px 16px 0 0;
}

main{
    margin: 32px auto;
}

.container{
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

article{
    padding: 24px 0;
    margin: 24px auto;
}

section{
    margin: 0 16px 0 0;
    text-align: left;
}

.group{
    display: flex;
    flex-direction: column;
}

.item{
    flex: 1;
}




header img{
    width: 72px;
    height: 72px;
    margin: 16px auto;
    border-radius: 50%;
}

ol, ul{
    list-style-type: none;
    list-style-position: inherit;
    padding: 0;
}

li{
    margin: 8px 0;
}

li span{
    color: #8d99ae;
}

/* Form */
label, input, textarea{
    display: block;
    width: 100%;
    color: #2b2d42;
}

label {
    margin: 24px 0 8px 0;
}

label span{
    color: #ef233c;
}

input, textarea{
    background: #e7e7eb;
    border: none;
    border-radius: 6px;
    padding: 8px;
    margin: 8px 0;
}

input:hover, textarea:hover{
    box-shadow: 0px 0px 0px 1px #8d99ae inset;
}

input:focus, textarea:focus{
    box-shadow: 0px 0px 0px 1px #8d99ae inset;
    outline: none;
    background: #ffffff;
}

::-webkit-input-placeholder {
    color: #8d99ae;
}

button{
    color: white;
    background: #ef233c;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    margin: 8px 0;
}

button:hover{
    background: #ec5d6e;
    cursor: pointer;
}

button#clear{
    background: none;
    color: #8d99ae
}

#clear:hover{
    background: #e7e7eb;
    color: #2b2d42;
}



/* Typography */

h1, h2, h3 {
    font-weight: 700;
    margin: 8px 0;
}

h3{
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    color: #8d99ae;
}

h5{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #8d99ae;
}

p{
    line-height: 1.4;
}

/* Links */

a:link{
    color: #ef233c;
    text-decoration: none;
}

a:visited{
    color: #d90429;
}

a:hover{
    color: #ec5d6e;
    text-decoration: underline;
}

a:active{
    color: #b60e2a;
    text-decoration: underline;
}

/* Media Queries */

@media all and (min-width: 768px){
    body{
        flex-direction: row;
    }
    header .container{
        position: fixed;
        margin: 96px 24px;
    }
    .content{
        margin: 132px auto;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    .group{
        flex-direction: column;
    }
    .item{
        margin: 0 40px 0 0;
    }
    .item:first-child {
        flex: 1;
    }
    #projects .item{
        flex: 1;
        margin: 16px 40px 0 0;
    }
}

@media all and (min-width: 1024px){
    .group{
        flex-direction: row;
    }
    .item:first-child{
        flex: 2;
    }
}

/* MUST INCLUDE
    ✅ flexbox
    ✅ media queries
*/